.full-image {
  width: 100%;
  object-fit: contain
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #4D4D4C;
  line-height: 1.6;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #364962;
	font-size: 40px;
	text-align: center;
}

.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.row {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-bottom: 5%;*/
  margin-top: 5%;
}

/* Create two equal columns that sits next to each other */
.column {
  background-color: white;
  flex: 50%;
  padding: 10px;
  margin-top: 0%;
}

.row-2 {
  display: flex;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*margin-bottom: 5%;*/
  margin-top: 5%;
}

/* Create two equal columns that sits next to each other */
.column-2 {
  background-color: #D0D9E0;
  flex: 50%;
  margin-top: 0%;
}

.footer {
  background-color: #D0D9E0;
  height: 200px;
}

