* {
  box-sizing: border-box;
}

.full-image {
  width: 100%;
  object-fit: contain
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'EB Garamond', serif;
  color: #4D4D4C;
  line-height: 1.6;
}

h2 {
  font-size: 2.6vw;
  font-family: 'Raleway', sans-serif;
  color: #364962;
  text-align: center;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3vw;
  }
  body {
    font-size: 2vw;
  }
  .player {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 7vw;
  }
  body {
    font-size: 4vw;
  }
  .player {
    max-width: 100%;
  }
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #364962;
	text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

button {
  background-color: #D0D9E0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background-color: #364962;
}

.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-bottom: 5%;*/
  margin-top: 0%;
}

/* Create two equal columns that sits next to each other */
.column {
  background-color: white;
  flex: 50%;
  padding: 25px;
  margin-top: 0%;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*margin-bottom: 5%;*/
  margin-top: 5%;
}

/* Create two equal columns that sits next to each other */
.column-2 {
  background-color: #D0D9E0;
  flex: 50%;
  margin-top: 0%;
}

.column-2-text {
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 600px) {
  .column-2-text {
    padding-left: 4%;
    padding-right: 4%;
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    padding: 5px;
  }
  .column-2 {
    flex: 100%;
  }
}

.icons {
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .icon {
    width: 32px;
    height: 32px;
    /*margin: auto;*/
  }
}

@media (min-width: 600px) {
  .icon {
    width: 64px;
    height: 64px;
    /*margin: auto;*/
  }
}

.footer {
  background-color: #D0D9E0;
  height: 20rem;
}

.contact {
	background-color: white;
}

.player {
  margin: auto;
  margin-top: 20px;
}

.form-style-1 {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
  width: 49%;
}

.form-style-1 .field-long{
  width: 100%;
}
.form-style-1 .field-select{
  width: 100%;
}
.form-style-1 .field-textarea{
  height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style-1 .required{
  color:red;
}
